<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto weather-container">
            <h1 class="mb-4">AppTiempo</h1>
            <img src="../../../assets/home.jpg" alt="Weather Icon" class="weather-icon">
            <hr>
            <h2 class="mt-3">El clima de Hoy</h2>
            <div class="card">
                <p>Temperatura: 25°C</p>
                <p>Condición: Soleado</p>
                <p>Viento: 10 km/h</p>
                <p>Humedad: 70%</p>
            </div>
            
        </div>
    </div>
</div>
