<div class="container">
    <div class="row">
        <div class="col-md-6 weather-container">
            <h3>Ciudades</h3>
            <hr>
            <ul *ngFor="let ciudad of ciudades">
                <li *ngIf="showCiudad">{{ciudad}}</li>
            </ul>
         
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <h1 class="mb-4 ">AppTiempo</h1>
            <img src="../../../assets/home.jpg" alt="Weather Icon" class="weather-icon">
           
        </div>
    </div>
</div>
<div class="container">
    <button class="btn btn-primary" (click)="mostrarCiudad()" *ngIf="showCiudad">Ocultar Ciudades</button>
    <button class="btn btn-primary" (click)="mostrarCiudad()" *ngIf="!showCiudad">Mostrar Ciudades</button>
</div>

<br>
<div class="container">
    <h4> Cambio de Flag</h4>
    <div [ngClass]="{ 'alert-primary': changeCss, 'alert-warning': !changeCss}" class="alert col-md-6" role="alert">
        Estilos de alertas Bootstrap
    </div>
    <div>
        <button class="btn btn-primary" (click)="cambioCss()">Cambio de Estilo</button>
    </div>
</div>

